.instagram {
  background-color: #ffffff;
  padding: 40px 15px 60px 15px;
  height: auto;
}

.container_instagram {
  max-width: 1120px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left_form {
  max-width: 380px;
  height: 402px;
  background-color: var(--bg-color);
  color: #ffffff;
  padding: 40px 15px;
}

.left_form h3 {
  font-family: var(--intro-bold);
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.left_form p {
  width: 260px;
  height: 32px;
  margin: 20px auto;

  font-family: var(--intro-book);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.left_form input{
    width: 100%;
    height: 59.62px;
    border-radius: 4px;
    border: none;
    margin: 10px 0;
}

.left_form button{
    width: 100%;
    padding: 22px 47px 22px 47px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: #ffffff;
}

.right_inst_img{
    max-width: 680px;
}

.right_inst_img .logo{
    width: 157px;
    margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 157px);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "img1 img3 img3 img4"
    "img2 img3 img3 img5";
  gap: 20px;
}

.img_gallary {
  max-width: 157px;
}

.img_gallary:not(:nth-child(3)) img{
    width: 100%;
}
.img_gallary:nth-child(3) img{
    width: 200%;
}

.gallery .img_gallary:nth-child(1) {
    grid-area: img1;
}
.gallery .img_gallary:nth-child(2) {
    grid-area: img2;
}
.gallery .img_gallary:nth-child(3) {
    grid-area: img3;
}
.gallery .img_gallary:nth-child(4) {
    grid-area: img4;
}

.gallery .img_gallary:nth-child(5) {
    grid-area: img5;
}


@media (width<= 1200px) {
    .gallery{
        grid-template-columns: repeat(4, 100px);
        gap: 5px;
    }
    .img_gallary {
        max-width: 100px;
      }
}

@media (width<= 1024px){
    .container_instagram{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (width<= 768px){
    .left_form{
        width: 100%;
    }
}

@media (width<= 480px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
    .img_gallary:nth-child(3) img{
        width: 150%;
    }
    .img_gallary:not(:nth-child(3)) img{
        width: 100%;
    }
}