section {
  width: 100%;
  height: 528px;
  background: var(--bg-color);
  padding: 130px 15px;
  position: relative;
}

.container__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.container__hero h1 {
  max-width: 580px;
  font-family: var(--intro-regular);
  font-size: 36px;
  font-weight: 700;
  line-height: 50.4px;
  text-align: left;
  color: #ffffff;
}

.container__hero p {
  max-width: 480px;
  font-family: var(--intro-book);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container__hero button {
  padding: 22px 47px 22px 47px;
  gap: 10px;
  border-radius: 4px;
  background: var(--accent-color);
  font-family: var(--intro-regular);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
}

.container__hero button:hover {
  background: #cc4949;
}

.container__hero button:active {
  background: #8c2828;
}

.hero_text {
  position: absolute;
  font-family: var(--intro-bold);
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;
  text-align: left;
  color: #ffffff1f;
  z-index: 0;
  top: 53.9%;
  left: 51%;
  transform: translate(-50%, -50%);
}

@media (width<= 1024px) {
  .hero_text {
    display: none;
  }
}

@media (width<= 768px) {
  section {
    padding: 110px 15px 50px 15px;
    height: auto;
  }
  .container__hero h1,
  .container__hero p {
    max-width: none;
  }
}
