footer{
    background-color: var(--text-color);
}

.container_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    height: 80px;
    margin: 0 auto;
    padding: 20px 0;
}

.footer__logo a{
  font-family: var(--intro-bold);
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

@media (width<= 1024px){
    .container_footer, .container_footer ul{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: auto;
    }
    .container_footer ul li{
        font-size: 20px;
        margin: 10px 0;
    }
}